body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    background-color: #27ae60;
    padding: 20px;
}

.form-container {
    max-width: 400px;
    width: 100%;
    background-color: #27ae60;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Adjust margin for vertical positioning */
}

.form-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.form-group button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
#flash-messages {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Ensure it's above other content */
    width: 80%; /* Adjust width as needed */
    pointer-events: none; /* Ensure it does not block interactions */
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    pointer-events: auto; /* Allow interaction with the alert itself */
}
.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert-error {
    background-color: #f2dede;
    color: #a94442;
}
